---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  margin-top: 75px;
}

@import 'layout', 'navbar', 'carousel';

.home {
  text-align: center;
  .productlist {
    margin-top: 50px;
    & > * {
      text-align: center;
    }
    img {
      border-radius: 100px;
      box-shadow: 2px 2px 10px #000;
    }
    .product {
      margin-bottom: 25px;
      border-bottom: 2px solid #CCC;
      padding-bottom: 10px;
      p {
        height: 125px;
      }
    }
  }
}

.about {
  p > img {
    max-width: 100%;
  }
}

.contact {
  div.row > div {
    margin-bottom: 25px;
  }
}
