
.navbar {
  background-color: #900;
  .navbar-nav > li {
    & > a {
      line-height: 26px;
      background-color: #900;
      &:hover {
        background-color: darken(#900, 5%);
      }
    }
    &.active {
      & > a {
        background-color: darken(#900, 7.5%);
        &:hover {
          background-color: darken(#900, 5%);
        }
      }
    }
  }
}
